:root {
    --ProductList: none;
    --CardBg: none;
    --CardAspect: 9/16;
    --CardImgAspect: 9/11;
    --CardUserAspect: 18/2;
    --NavSettings: 1px rgba(0, 0, 0, 0.2) solid;
    --ProductInfoPriceColor: black;
    --ProductInfoOtherColor: rgb(85, 85, 85);
    --bgcolor: rgba(0, 0, 0, 0.2);
    --bgcolorhover: rgba(0, 0, 0, 0.3);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }